# .NET
**/bin/
**/obj/
*.user
*.suo
*.csproj.user
*.sln.docstates

# Angular / Node
**/node_modules/
**/dist/
**/.angular/cache/
**/out-tsc/
**/tmp/
npm-debug.log*
yarn-error.log*

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
