<h2>{{ id() ? 'Editar' : 'Nuevo' }} producto</h2>

<form [formGroup]="form" (ngSubmit)="guardar()" class="form">
  <label>Nombre<input formControlName="nombre" /></label>
  <label>Categoria<input formControlName="categoria" /></label>
  <label>Precio<input type="number" step="0.01" formControlName="precio" /></label>
  <label>Existencias<input type="number" formControlName="existencias" /></label>
  <label>Descripcion<textarea formControlName="descripcion"></textarea></label>
  <label>URL Imagen<input formControlName="urlImagen" /></label>

  <div class="acciones">
    <button type="submit" [disabled]="form.invalid">Guardar</button>
    <a routerLink="/productos">Cancelar</a>
  </div>
</form>